<div class="event_actions" align="center">
  {% if edit_event %}
    {% if occurrence.event.rule %}
      {% if occurrence.id %}
          <a href="#" onclick="openURL('{{ edit_occurrence }}?next={{ here }}', event);">
            Изменить
          </a>
          &nbsp;
      {% else %}
          <a href="#" onclick="openEditDialog(this, '{{ edit_occurrence }}?next={{ here }}', '{{ edit_event }}?next={{ here }}', event);">
            Изменить
          </a>
          &nbsp;
      {% endif %}
    {% else %}
      <a href="#" onclick="openURL('{{ edit_event }}?next={{ here }}', event);">
        Изменить
      </a>
      &nbsp;
    {% endif %}
  {% endif %}

  {% if delete_event %}
    {% if occurrence.event.rule %}
      {% if occurrence.id %}
          <a href="#" onclick="openURL('{{cancel_occurrence}}?next={{here}}', event);">
            Удалить
          </a>
          &nbsp;
      {% else %}
          <a href="#" onclick="openCancelDialog(this, '{{ cancel_occurrence }}?next={{here}}', '{{delete_event}}?next={{here}}', event);">
            Удалить
          </a>
          &nbsp;
      {% endif %}
    {% else %}
      <a href="#" onclick="openURL('{{delete_event}}?next={{here}}', event);">
        Удалить
      </a>
      &nbsp;
    {% endif %}
  {% endif %}
</div>
